.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 125px;
}

.nav-items > ul {
    /* font-size: 24px; */
    display: flex;
    list-style-type: none;
    padding: 0 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
 background-color: rgb(223, 221, 221);
    padding: 5px;
    width: 200px;
    height: 300px;
  
}

.res-card:hover {
 border: 1px solid black;
 cursor: pointer;
}

.search {
    padding: 10px;
}

/* Restaurant Card */
.res-logo {
    width: 100%;
}


.res-card h3, .res-card h4 {
 margin: 5px 0;
}
